// Global site tag (gtag.js) - Google Analytics
script(src="https://www.googletagmanager.com/gtag/js?id=UA-113908877-1", async)
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113908877-1');
